<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |f| %>
      <h3>
        投稿する
      </h3>
      <%= f.text_field :image, placeholder: "Image Url" %>
      <%= f.text_area :text, placeholder: "text" , rows: "10" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>