<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |f| %>
      <h3>
        投稿する
      </h3>
      <%= render partial: "form", locals: { f: f } %>
    <% end %>
  </div>
</div>